<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <title>定制化仿真包</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
  </head>

  <body>
    <%-body%>
  </body>
</html>
<!--
footer.html
© 2015-18, Lilian Besson (Naereen) and contributors,
open-sourced under the MIT License, https://lbesson.mit-license.org/
hosted on GitHub, https://GitHub.com/Naereen/Nginx-Fancyindex-Theme
-->
