<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <title>定制化仿真包</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
    <div class="q-header">
      <h3 onclick="javascript:window.location.href='/'">
        客户定制化仿真包在线预览
      </h3>
      <div id="q-upload"></div>
    </div>
    <%-body%>
    <script>
      window.enableUpload = function () {
        const domStr = `<form
            class="q-form"
            method="POST"
            action="/upload"
            enctype="multipart/form-data"
          >
            <a href="javascript:;" class="file"
              >上传文件包
              <input type="file" name="file" id="file" />
            </a>
          </form>`;
        $("#q-upload").empty();
        $(".q-form")?.off();
        $(domStr).appendTo($("#q-upload"));
        $(".q-form").on("change", "input[type='file']", function () {
          $(".q-form").submit();
        });
      };
    </script>
  </body>
</html>
